/database/scripts/*.sql
/node_modules
/public/build
/public/css
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.phpunit.result.cache
