
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$broselowColors: grey, pink, red, purple, yellow, white, blue, orange, green;

@each $color in $broselowColors{
  .broselow-#{$color} {
    background-color: #{$color};
  }
}

.table-striped-2 tbody tr:nth-child(4n+1), .table-striped-2 tbody tr:nth-child(4n+2) {
  background-color: rgba(0, 0, 0, 0.05);
}

.weight-selector {
  min-height: 280px;
}

.broselow-box {
  min-height: 50px;
}
